<header>
  <div class="main-nav-container" [ngClass]="{'main-nav-container':toggle,'main-nav-container-big':!toggle}">
    <div class="nav-header">
      <ul>
        <li class="header-logo"><img src="../../assets/img/icons/logo2.png" alt=""></li>
        <li (click)="toggleBar()"><div  class="nav-block" [ngClass]="{'nav-block':toggle,'nav-block-reflect':!toggle}"></div><div  class="nav-toggle" ></div></li>
        <li><a   class="nav-search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul class="navbar-right-list">
        <li class="navbar-right-first"><button class="navbar-right-add"><i class="fa fa-plus" aria-hidden="true"></i>Add project</button></li>
        <li class="navbar-right-second"><i class="fa fa-envelope" aria-hidden="true"></i></li>
        <li class="navbar-right-third"><i class="fa fa-bell" aria-hidden="true"></i><div class="navbar-right-third-notice"><p>3</p></div></li>
        <li class="navbar-right-fourth"><img src="../../assets/img/icons/simon.png" alt=""> <div  class="navbar-right-block"></div></li>
      </ul>
    </div>
  </div>
</header>
