<div class="sidebar-main">
<div class="sidebar-header"><i><img src="../../assets/img/icons/logo.png" alt=""></i></div>
  <ul>
    <li><div class="sidebar-home sidebar-menu"><div><i><img src="../../assets/img/icons/home.png" alt=""></i>Home</div></div></li>
    <li><div class="sidebar-menu"><i><img src="../../assets/img/icons/workflow.png" alt=""></i>Workflow</div></li>
    <li><div class="sidebar-menu"><i><img src="../../assets/img/icons/statistics.png" alt=""></i>Statistics</div></li>
    <li><div class="sidebar-menu"><i><img src="../../assets/img/icons/calendar.png" alt=""></i>Calendar</div></li>
    <li><div class="sidebar-menu"><i><img src="../../assets/img/icons/users.png" alt=""></i>Users</div></li>
    <li><div class="sidebar-menu"><i><img src="../../assets/img/icons/settings.png" alt=""></i>Settings</div></li>
  </ul>
</div>
