body{
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  background-color: #f6f7fa;

}

  body {
     /*background:   url("./assets/img/test.png") no-repeat 50% 0px;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

     }
.main-view{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


